
/* Location of file */ /opt/openhab2/conf/html/mods.css

.header h2.dashboard-title  {

font-size: 0px!important;

}


header h2.dashboard-title  {

font-size: 0px!important;

}


.dash-card h3  {

font-size: 0px!important;

}

#dash-card h3  {

font-size: 0px!important;

}


dash-card h3 {

font-size: 0px!important;

}
