@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 40px;
}

.text {
  position: absolute;
  width: 450px;
  left: 50%;
  margin-left: -225px;
  height: 30px;
  top: 50%;
  margin-top: 0px;
  
}

.word {
  position: absolute;
  width: 100%;
  opacity: 0;
  margin-top:-8px;
  font-style:bold;

}

.letter {
  display: inline-block;
  margin: 2px;
  position: relative;
  float: left;
  -webkit-transform: translateZ(25px);
          transform: translateZ(25px);
  -webkit-transform-origin: 50% 50% 25px;
          transform-origin: 50% 50% 25px;
		 
}

.letter.out {
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg);
  transition: -webkit-transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
   opacity:0.01;
}

.letter.behind {
  -webkit-transform: rotateX(-90deg);
          transform: rotateX(-90deg);
		 opacity:0.011;
}

.letter.in {
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
  transition: -webkit-transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275), -webkit-transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  
}

.wave {
  color: #54CCF3;
}

.white {
  color: white;
}



