/* ----------- Iphone4_P  ----------- */




/* portrait */
@media only screen
  and (min-device-width: 315px)
  and (max-device-width: 325px)  
  and (min-device-height: 475px)
  and (max-device-height: 485px)
  and (-webkit-device-pixel-ratio:2)
  and (orientation: portrait) {


  .demo-iframe-container { 
        height: 474.5px;
width: 320px;        
  } 
  
  .demo-iframe {        
        height:473.5px;
         width:319px;
        background-image: url(../img/media-queries/Iphone4_P.png);
  }
  
  .demo-emby-div {
        background-image: url(../img/demo-content/emby/Iphone4_P-content.png);
        height:947px;
                width:314px;
}


}







/* ----------- Iphone5_P  ----------- */




/* portrait */
@media only screen
  and (min-device-width: 315px)
  and (max-device-width: 325px)  
  and (min-device-height: 563px)
  and (max-device-height: 573px)
  and (-webkit-device-pixel-ratio:2)
  and (orientation: portrait) {


  .demo-iframe-container { 
        height: 562.5px;
		width: 320px;        
  } 
  
  .demo-iframe {        
        height:561.5px;
         width:319px;
        background-image: url(../img/media-queries/Iphone5_P.png);
  }
  
  .demo-emby-div {
        background-image: url(../img/demo-content/emby/Iphone5_P-content.png);
        height:1123px;
        width:314px;
}


}







/* ----------- Iphone678_P  ----------- */




/* portrait */
@media only screen
  and (min-device-width: 370px)
  and (max-device-width: 380px)  
  and (min-device-height: 662px)
  and (max-device-height: 672px)
  and (-webkit-device-pixel-ratio:2)
  and (orientation: portrait) {


  .demo-iframe-container { 
        height: 661.5px;
width: 375px;        
  } 
  
  .demo-iframe {        
        height:660.5px;
         width:374px;
        background-image: url(../img/media-queries/Iphone678_P.png);
  }
  
  .demo-emby-div {
        background-image: url(../img/demo-content/emby/Iphone678_P-content.png);
        height:1321px;
                width:369px;
}


}







/* ----------- Iphone678+_P  ----------- */




/* portrait */
@media only screen
  and (min-device-width: 355px)
  and (max-device-width: 365px)  
  and (min-device-height: 635px)
  and (max-device-height: 645px)
  and (-webkit-device-pixel-ratio:3)
  and (orientation: portrait) {


  .demo-iframe-container { 
        height: 634.5px;
width: 360px;        
  } 
  
  .demo-iframe {        
        height:633.5px;
         width:359px;
        background-image: url(../img/media-queries/Iphone678+_P.png);
  }
  
  .demo-emby-div {
        background-image: url(../img/demo-content/emby/Iphone678+_P-content.png);
        height:1907px;
                width:354px;
}


}







/* ----------- IphoneX_P  ----------- */




/* portrait */
@media only screen
  and (min-device-width: 370px)
  and (max-device-width: 380px)  
  and (min-device-height: 807px)
  and (max-device-height: 817px)
  and (-webkit-device-pixel-ratio:3)
  and (orientation: portrait) {


  .demo-iframe-container { 
        height: 806.5px;
width: 375px;        
  } 
  
  .demo-iframe {        
        height:805.5px;
         width:374px;
        background-image: url(../img/media-queries/IphoneX_P.png);
  }
  
  .demo-emby-div {
        background-image: url(../img/demo-content/emby/IphoneX_P-content.png);
        height:2423px;
                width:369px;
}


}







/* ----------- GalaxyS3_P  ----------- */




/* portrait */
@media only screen
  and (min-device-width: 355px)
  and (max-device-width: 365px)  
  and (min-device-height: 635px)
  and (max-device-height: 645px)
  and (-webkit-device-pixel-ratio:2)
  and (orientation: portrait) {


  .demo-iframe-container { 
        height: 634.5px;
width: 360px;        
  } 
  
  .demo-iframe {        
        height:633.5px;
         width:359px;
        background-image: url(../img/media-queries/GalaxyS3_P.png);
  }
  
  .demo-emby-div {
        background-image: url(../img/demo-content/emby/GalaxyS3_P-content.png);
        height:1267px;
                width:354px;
}


}







/* ----------- GalaxyS45+Note3_P  ----------- */




/* portrait */
@media only screen
  and (min-device-width: 355px)
  and (max-device-width: 365px)  
  and (min-device-height: 635px)
  and (max-device-height: 645px)
  and (-webkit-device-pixel-ratio:3)
  and (orientation: portrait) {


  .demo-iframe-container { 
        height: 634.5px;
width: 360px;        
  } 
  
  .demo-iframe {        
        height:633.5px;
         width:359px;
        background-image: url(../img/media-queries/GalaxyS45+Note3_P.png);
  }
  
  .demo-emby-div {
        background-image: url(../img/demo-content/emby/GalaxyS45+Note3_P-content.png);
        height:1907px;
                width:354px;
}


}







/* ----------- GalaxyS6_P  ----------- */




/* portrait */
@media only screen
  and (min-device-width: 355px)
  and (max-device-width: 365px)  
  and (min-device-height: 635px)
  and (max-device-height: 645px)
  and (-webkit-device-pixel-ratio:4)
  and (orientation: portrait) {


  .demo-iframe-container { 
        height: 634.5px;
width: 360px;        
  } 
  
  .demo-iframe {        
        height:633.5px;
         width:359px;
        background-image: url(../img/media-queries/GalaxyS6_P.png);
  }
  
  .demo-emby-div {
        background-image: url(../img/demo-content/emby/GalaxyS6_P-content.png);
        height:2547px;
                width:354px;
}


}







/* ----------- Pixel_P  ----------- */




/* portrait */
@media only screen
  and (min-device-width: 355px)
  and (max-device-width: 365px)  
  and (min-device-height: 635px)
  and (max-device-height: 645px)
  and (-webkit-device-pixel-ratio:3)
  and (orientation: portrait) {


  .demo-iframe-container { 
        height: 634.5px;
width: 360px;        
  } 
  
  .demo-iframe {        
        height:633.5px;
         width:359px;
        background-image: url(../img/media-queries/Pixel_P.png);
  }
  
  .demo-emby-div {
        background-image: url(../img/demo-content/emby/Pixel_P-content.png);
        height:1907px;
                width:354px;
}


}







/* ----------- PixelXL_P  ----------- */




/* portrait */
@media only screen
  and (min-device-width: 355px)
  and (max-device-width: 365px)  
  and (min-device-height: 635px)
  and (max-device-height: 645px)
  and (-webkit-device-pixel-ratio:4)
  and (orientation: portrait ) {


  .demo-iframe-container {
	  
	height: 634.5px;
	width: 360px;        
  } 
  
  .demo-iframe {        
        height:633.5px;
         width:359px;
        background-image: url(../img/media-queries/PixelXL_P.png);
  }
  
  .demo-emby-div {
        background-image: url(../img/demo-content/emby/PixelXL_P-content.png);
        height:2547px;
                width:354px;
}


}







/* ----------- HTC1_P  ----------- */




/* portrait */
@media only screen
  and (min-device-width: 355px)
  and (max-device-width: 365px)  
  and (min-device-height: 635px)
  and (max-device-height: 645px)
  and (-webkit-device-pixel-ratio:3)
  and (orientation: portrait) {


  .demo-iframe-container { 
        height: 634.5px;
width: 360px;        
  } 
  
  .demo-iframe {        
        height:633.5px;
         width:359px;
        background-image: url(../img/media-queries/HTC1_P.png);
  }
  
  .demo-emby-div {
        background-image: url(../img/demo-content/emby/HTC1_P-content.png);
        height:1907px;
         width:354px;
}


}







/* ----------- Lumia920_P  ----------- */




/* portrait */
@media only screen
  and (min-device-width: 379px)
  and (max-device-width: 389px)  
  and (min-device-height: 635px)
  and (max-device-height: 645px)
  and (-webkit-device-pixel-ratio:2)
  and (orientation: portrait) {


  .demo-iframe-container { 
        height: 634.5px;
width: 384px;        
  } 
  
  .demo-iframe {        
        height:633.5px;
         width:383px;
        background-image: url(../img/media-queries/Lumia920_P.png);
  }
  
  .demo-emby-div {
        background-image: url(../img/demo-content/emby/Lumia920_P-content.png);
        height:1267px;
                width:378px;
}


}


/* ----------- ----------- ----------- ----------- -----------  */
/* >>>>>>>>>>>  >>>>>>>>     Windows   <<<<<< <<<<<<<<<<<<<<<<< */
/* ----------- ----------- ----------- ----------- -------  --- */

/* ----------- Windows Phone ----------- */



/* Portrait */
@media screen 
  and (device-width: 480px) 
  and (device-height: 800px)  
  and (orientation: portrait) {
	  
/* demo-iframe-container Width: =  (Device Width)            &&
   demo-iframe-container Height: = (Device Height) - (5.5px) */	  
  .demo-iframe-container {   
	width: px;
	height: px;	 
} 

/* demo-iframe Width:  = (Device Width)  - (1px)   &&
   demo-iframe Height: = (Device Height) - (6.5px)  */ 
  .demo-iframe {	  
	width:  px;
	height: px;
	background-image: url(../img/media-queries/.png);
}	

/* demo-app-Div Width:  = (Device Width) - (6px) &&
   demo-app-Div Height: = (Max Height)   - (13px) */	  	  
  .demo-emby-div {
	background-image: url(../img/demo-content/emby/ .png);
	width: px;
	height: px;
}

}



/* ----------- windows fix - https://litmus.com/community/discussions/5701-media-queries-windows-phone ----------- */

    @media only screen and (max-width:480px) {
        @-ms-viewport { width:320px; }
        @viewport { width:320px; }
    }

/* ----------- ----------- ----------- ----------- ----------- ----------- ----------- ------- */
/* -+++++++++++++++++++++++++++++++++ TABLETS +++++++++++++++++++++++++++++++++++++++++++++++- */
/* ----------- ----------- ----------- ----------- ----------- ----------- ----------- ------- */

/* ----------- ----------- ----------- ----------- -----------  */
/* >>>>>>>>>>>>>>>>>     Apple iPad('s)   <<<<<<<<<<<<<<<<<<<<< */
/* ----------- ----------- ----------- ----------- -------  --- */

/* ----------- iPad 1, 2, Mini and Air ----------- */



/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {
	  
/* demo-iframe-container Width: =  (Device Width)            &&
   demo-iframe-container Height: = (Device Height) - (5.5px) */	  
  .demo-iframe-container {   
	width: px;
	height: px;	 
} 

/* demo-iframe Width:  = (Device Width)  - (1px)   &&
   demo-iframe Height: = (Device Height) - (6.5px)  */ 
  .demo-iframe {	  
	width:  px;
	height: px;
	background-image: url(../img/media-queries/.png);
}	

/* demo-app-Div Width:  = (Device Width) - (6px) &&
   demo-app-Div Height: = (Max Height)   - (13px) */	  	  
  .demo-emby-div {
	background-image: url(../img/demo-content/emby/ .png);
	width: px;
	height: px;
}

}



/* ----------- iPad 3, 4 and Pro 9.7" ----------- */


/* Portrait */	
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {
	  
/* demo-iframe-container Width: =  (Device Width)            &&
   demo-iframe-container Height: = (Device Height) - (5.5px) */	  
  .demo-iframe-container {   
	width: px;
	height: px;	 
} 

/* demo-iframe Width:  = (Device Width)  - (1px)   &&
   demo-iframe Height: = (Device Height) - (6.5px)  */ 
  .demo-iframe {	  
	width:  px;
	height: px;
	background-image: url(../img/media-queries/.png);
}	

/* demo-app-Div Width:  = (Device Width) - (6px) &&
   demo-app-Div Height: = (Max Height)   - (13px) */	  	  
  .demo-emby-div {
	background-image: url(../img/demo-content/emby/ .png);
	width: px;
	height: px;
}

}



/* ----------- iPad Pro 10.5" ----------- */



/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
  and (min-device-width: 834px) 
  and (max-device-width: 834px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {
	  
/* demo-iframe-container Width: =  (Device Width)            &&
   demo-iframe-container Height: = (Device Height) - (5.5px) */	  
  .demo-iframe-container {   
	width: px;
	height: px;	 
} 

/* demo-iframe Width:  = (Device Width)  - (1px)   &&
   demo-iframe Height: = (Device Height) - (6.5px)  */ 
  .demo-iframe {	  
	width:  px;
	height: px;
	background-image: url(../img/media-queries/.png);
}	

/* demo-app-Div Width:  = (Device Width) - (6px) &&
   demo-app-Div Height: = (Max Height)   - (13px) */	  	  
  .demo-emby-div {
	background-image: url(../img/demo-content/emby/ .png);
	width: px;
	height: px;
}

}


/* ----------- iPad Pro 12.9" ----------- */



/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {
	  
/* demo-iframe-container Width: =  (Device Width)            &&
   demo-iframe-container Height: = (Device Height) - (5.5px) */	  
  .demo-iframe-container {   
	width: px;
	height: px;	 
} 

/* demo-iframe Width:  = (Device Width)  - (1px)   &&
   demo-iframe Height: = (Device Height) - (6.5px)  */ 
  .demo-iframe {	  
	width:  px;
	height: px;
	background-image: url(../img/media-queries/.png);
}	

/* demo-app-Div Width:  = (Device Width) - (6px) &&
   demo-app-Div Height: = (Max Height)   - (13px) */	  	  
  .demo-emby-div {
	background-image: url(../img/demo-content/emby/ .png);
	width: px;
	height: px;
}

}


/* ----------- ----------- ----------- ----------- -----------  */
/* >>>>>>>>>>>>>>>>>     Galaxy('s)   <<<<<<<<<<<<<<<<<<<<< */
/* ----------- ----------- ----------- ----------- -------  --- */

/* ----------- Galaxy Tab 2 ----------- */


/* Portrait */
@media 
  (max-device-width: 800px) 
  and (orientation: portrait) { 
  
/* demo-iframe-container Width: =  (Device Width)            &&
   demo-iframe-container Height: = (Device Height) - (5.5px) */	  
  .demo-iframe-container {   
	width: px;
	height: px;	 
} 

/* demo-iframe Width:  = (Device Width)  - (1px)   &&
   demo-iframe Height: = (Device Height) - (6.5px)  */ 
  .demo-iframe {	  
	width:  px;
	height: px;
	background-image: url(../img/media-queries/.png);
}	

/* demo-app-Div Width:  = (Device Width) - (6px) &&
   demo-app-Div Height: = (Max Height)   - (13px) */	  	  
  .demo-emby-div {
	background-image: url(../img/demo-content/emby/ .png);
	width: px;
	height: px;
}

}



/* ----------- Galaxy Tab S ----------- */


/* Portrait */
@media 
  (max-device-width: 800px) 
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 2) { 
  
  
  /* demo-iframe-container Width: =  (Device Width)            &&
   demo-iframe-container Height: = (Device Height) - (5.5px) */	  
  .demo-iframe-container {   
	width: px;
	height: px;	 
} 

/* demo-iframe Width:  = (Device Width)  - (1px)   &&
   demo-iframe Height: = (Device Height) - (6.5px)  */ 
  .demo-iframe {	  
	width:  px;
	height: px;
	background-image: url(../img/media-queries/.png);
}	

/* demo-app-Div Width:  = (Device Width) - (6px) &&
   demo-app-Div Height: = (Max Height)   - (13px) */	  	  
  .demo-emby-div {
	background-image: url(../img/demo-content/emby/ .png);
	width: px;
	height: px;
}

}



/* ----------- ----------- ----------- ----------- -----------  */
/* >>>>>>>>>>>>>>>>>     Asus('s)   <<<<<<<<<<<<<<<<<<<<< */
/* ----------- ----------- ----------- ----------- -------  --- */


/* ----------- Asus Nexus 7 ----------- */



/* Portrait */
@media screen 
  and (device-width: 601px) 
  and (device-height: 906px) 
  and (-webkit-min-device-pixel-ratio: 1.331) 
  and (-webkit-max-device-pixel-ratio: 1.332) 
  and (orientation: portrait) {
	  
/* demo-iframe-container Width: =  (Device Width)            &&
   demo-iframe-container Height: = (Device Height) - (5.5px) */	  
  .demo-iframe-container {   
	width: px;
	height: px;	 
} 

/* demo-iframe Width:  = (Device Width)  - (1px)   &&
   demo-iframe Height: = (Device Height) - (6.5px)  */ 
  .demo-iframe {	  
	width:  px;
	height: px;
	background-image: url(../img/media-queries/.png);
}	

/* demo-app-Div Width:  = (Device Width) - (6px) &&
   demo-app-Div Height: = (Max Height)   - (13px) */	  	  
  .demo-emby-div {
	background-image: url(../img/demo-content/emby/ .png);
	width: px;
	height: px;
}

}





/* ----------- Kindle Fire HD 7" ----------- */


/* Portrait */
@media only screen 
  and (min-device-width: 800px) 
  and (max-device-width: 1280px) 
  and (-webkit-min-device-pixel-ratio: 1.5) 
  and (orientation: portrait) {
	  
/* demo-iframe-container Width: =  (Device Width)            &&
   demo-iframe-container Height: = (Device Height) - (5.5px) */	  
  .demo-iframe-container {   
	width: px;
	height: px;	 
} 

/* demo-iframe Width:  = (Device Width)  - (1px)   &&
   demo-iframe Height: = (Device Height) - (6.5px)  */ 
  .demo-iframe {	  
	width:  px;
	height: px;
	background-image: url(../img/media-queries/.png);
}	

/* demo-app-Div Width:  = (Device Width) - (6px) &&
   demo-app-Div Height: = (Max Height)   - (13px) */	  	  
  .demo-emby-div {
	background-image: url(../img/demo-content/emby/ .png);
	width: px;
	height: px;
}
}


/* ----------- Kindle Fire HD 8.9" ----------- */


/* Portrait */
@media only screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1.5) 
  and (orientation: portrait) {

  /* demo-iframe-container Width: =  (Device Width)            &&
   demo-iframe-container Height: = (Device Height) - (5.5px) */	  
  .demo-iframe-container {   
	width: px;
	height: px;	 
} 

/* demo-iframe Width:  = (Device Width)  - (1px)   &&
   demo-iframe Height: = (Device Height) - (6.5px)  */ 
  .demo-iframe {	  
	width:  px;
	height: px;
	background-image: url(../img/media-queries/.png);
}	

/* demo-app-Div Width:  = (Device Width) - (6px) &&
   demo-app-Div Height: = (Max Height)   - (13px) */	  	  
  .demo-emby-div {
	background-image: url(../img/demo-content/emby/ .png);
	width: px;
	height: px;
}
  
}


/* ----------- ----------- ----------- ----------- ----------- ----------- ----------- ------- */
/* -+++++++++++++++++++++++++++++++++ LAPTOPS +++++++++++++++++++++++++++++++++++++++++- */
/* ----------- ----------- ----------- ----------- ----------- ----------- ----------- ------- */
/* -----------  Non-Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 

  /* demo-iframe-container Width: =  (Device Width)            &&
   demo-iframe-container Height: = (Device Height) - (5.5px) */	  
  .demo-iframe-container {   
	width: px;
	height: px;	 
} 

/* demo-iframe Width:  = (Device Width)  - (1px)   &&
   demo-iframe Height: = (Device Height) - (6.5px)  */ 
  .demo-iframe {	  
	width:  px;
	height: px;
	background-image: url(../img/media-queries/.png);
}	

/* demo-app-Div Width:  = (Device Width) - (6px) &&
   demo-app-Div Height: = (Max Height)   - (13px) */	  	  
  .demo-emby-div {
	background-image: url(../img/demo-content/emby/ .png);
	width: px;
	height: px;
}
 
}

/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 

  /* demo-iframe-container Width: =  (Device Width)            &&
   demo-iframe-container Height: = (Device Height) - (5.5px) */	  
  .demo-iframe-container {   
	width: px;
	height: px;	 
} 

/* demo-iframe Width:  = (Device Width)  - (1px)   &&
   demo-iframe Height: = (Device Height) - (6.5px)  */ 
  .demo-iframe {	  
	width:  px;
	height: px;
	background-image: url(../img/media-queries/.png);
}	

/* demo-app-Div Width:  = (Device Width) - (6px) &&
   demo-app-Div Height: = (Max Height)   - (13px) */	  	  
  .demo-emby-div {
	background-image: url(../img/demo-content/emby/ .png);
	width: px;
	height: px;
}
  
  }
/* ----------- ----------- ----------- ----------- ----------- ----------- ----------- ------- */
/* -+++++++++++++++++++++++++++++++++ WATCHES +++++++++++++++++++++++++++++++++++++++++- */
/* ----------- ----------- ----------- ----------- ----------- ----------- ----------- ------- */

/* ----------- Apple Watch ----------- */
@media
  (max-device-width: 42mm)
  and (min-device-width: 38mm) { 
  
/* demo-iframe-container Width: =  (Device Width)            &&
   demo-iframe-container Height: = (Device Height) - (5.5px) */	  
  .demo-iframe-container {   
	width: px;
	height: px;	 
} 

/* demo-iframe Width:  = (Device Width)  - (1px)   &&
   demo-iframe Height: = (Device Height) - (6.5px)  */ 
  .demo-iframe {	  
	width:  px;
	height: px;
	background-image: url(../img/media-queries/.png);
}	

/* demo-app-Div Width:  = (Device Width) - (6px) &&
   demo-app-Div Height: = (Max Height)   - (13px) */	  	  
  .demo-emby-div {
	background-image: url(../img/demo-content/emby/ .png);
	width: px;
	height: px;
}
}

/* ----------- Moto 360 Watch ----------- */
@media 
  (max-device-width: 218px)
  and (max-device-height: 281px) { 
  
/* demo-iframe-container Width: =  (Device Width)            &&
   demo-iframe-container Height: = (Device Height) - (5.5px) */	  
  .demo-iframe-container {   
	width: px;
	height: px;	 
} 

/* demo-iframe Width:  = (Device Width)  - (1px)   &&
   demo-iframe Height: = (Device Height) - (6.5px)  */ 
  .demo-iframe {	  
	width:  px;
	height: px;
	background-image: url(../img/media-queries/.png);
}	

/* demo-app-Div Width:  = (Device Width) - (6px) &&
   demo-app-Div Height: = (Max Height)   - (13px) */	  	  
  .demo-emby-div {
	background-image: url(../img/demo-content/emby/ .png);
	width: px;
	height: px;
}

}
