
/* Location of file */ /opt/openhab2/conf/html/mods.css
/* Don't forget to update the openhab dashboard settings css section (just past /static/mods.css into the corresponding field) */

.header h2.dashboard-title  {

font-size: 0px!important;

}


header h2.dashboard-title  {

font-size: 0px!important;

}


.dash-card h3  {

font-size: 0px!important;

}

#dash-card h3  {

font-size: 0px!important;

}


dash-card h3 {

font-size: 0px!important;

}
